
.detail_con {
    height: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 1rem;
}

.post_content {
    /* margin: 70px; */
    background: white;
    padding: 5vw;
    margin-top: 5rem;
    text-align: center;
    box-shadow:  0 0 10px 0 rgb(39 43 47 / 10%);
    border-radius: 1rem;


}

.comment_content{
    padding-left: 1rem;
    font-weight: 500;
    font-size: 18px;
    border-radius: 1rem;
}

.comment_header {
    background: rgb(165, 165, 165);
    justify-content: center;
    height: 90px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.post_comment_form_con{
    /* height: 200px; */
    background: rgb(255, 255, 255);
    padding-bottom: 30px;
    margin-bottom: 30px;
    justify-content: center;
    color: rgb(255, 255, 255);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;


}
.post_comment_form {
    padding-left: 20px;
    padding-right: 20px;
}
.post_comments {

    height: 128;
}

.title_header_all {
    /* background: rgb(165, 165, 165); */
    justify-content: center;
    height: 90px;
    /* color: rgb(255, 255, 255); */
    display: flex;
    /* flex-wrap: wrap; */
    margin-bottom: 20px;

}
.author_link:hover{
    color: blue;
}