@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
body {
  font-family: 'Padauk', sans-serif;
  padding: 0;
  margin: 0;
  

}
li {
  text-align: left;
  font-size: 18px;
}
p {
  font-size: 16px;

}
h6 {
  font-size: 18px;
}
h5 {
  font-size: 20px;
}
h4 {
  font-size: 22px;
}
h3 {
  font-size: 24px;
}
h2 {
  font-size: 26px;
}


img {
  /* max-height: 30vw; */
  display: block;
overflow: auto;
  width: 100%;
  /* height: 100px; */
  max-width: -webkit-fill-available;
  /* border-radius: 24px; */


}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container {
  background: rgb(249, 250, 254);
  margin: 0px;
  padding: 20px ;
  padding-left: 10rem;
  padding-right: 10rem;
}


.post-container {
  background: rgb(249, 250, 254);
  /* margin: 0px; */
  padding: 40px ; 



}
.more-link {
  color: rgb(33, 126, 126);
}

.card-content:hover {
  box-shadow: rgb(0 8 36 / 15%) 0px 4px 20px -5px;
  transition: 0.3s ease;
}

@media screen and (max-width: 900px) {
  .container {
    background: rgb(250, 248, 246);
    margin: 0px;
    padding: 20px ;

  }

  h4 {
    font-size: 17px;
  }
  h3 {
    font-size: 18px;
  }
  h2 {
    font-size: 20px;
  }
}

.content-home {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  margin: auto;
  max-width: 864px;
  position: relative;
  text-align: center;
  z-index: 500;
  padding-top: 0px !important;
}

